.modalWindow {
  background: #ffffff;
  border-radius: 8px;
  max-width: 1414px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: overlay;
  max-height: 100%;
  & {
    &::-webkit-scrollbar {
      width: 0.3em;
    }

    &::-webkit-scrollbar-track {
      border-left: 1px solid #ccc;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #008f3f;
      border-radius: 5px;
    }
  }

  .modalWindowClose {
    color: #000;
    position: absolute;
    right: 6px;
    top: -0.5px;
    svg {
      width: 34.5px;
      height: 34.5px;
    }
  }
  .modalBtn {
  }
  padding: 58px 145px 61px;
  margin: auto;
}
.modal {
  display: flex;
  padding: 10px;
}

.modalWindow:focus {
  outline: none;
}
@media (max-width: 730px) {
  .modal {
    padding: 0;
  }
  .modalWindow {
    border-radius: 0;
    .MuiTextField-root {
      max-width: 316px;
    }
  }
}
